
@{
    ViewBag.Title = "Login";
}

<!--  ~ root / controlador / action result -->

<h2>Login</h2>

<form action="~/Usuario/Login" method="post">
    <br />
    <label>Usuario</label><br />
    <input type="text" id="username" name="username" /><br />
    <label>Contraseña</label><br />
    <input type="password" id="contrasenia" name="contrasenia" /><br /><br />
    <input type="submit" value="Ingresar" onclick="return ValidarDatos()" />
</form>
<br />
@ViewBag.Mensaje

@ViewBag.test

<script>
    function ValidarDatos() {
        if ($("#username").val() == "" || $("#contrasenia").val() == "") {
            alert("Ingrese su usuario y contraseña para acceder al sitio");
            return false;
        }
    }
</script>